<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div className ="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    {{>footer}}
    </div>
</body>
</html>